{% extends "base/base.html" %}
{% load static %}

{% block title %}

    Liste des Pompe
{% endblock %}

{% block css %}


<link href="{% static 'assets/css/table.css'%}" rel="stylesheet" type="text/css" />
{% endblock css %}



{% block toolbar %}
    <div id="kt_app_toolbar" class="app-toolbar mt-1" style="height: 50px">
								<!--begin::Toolbar container-->
								<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
									<!--begin::Page title-->
									<div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
										<!--begin::Title-->
										<h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Liste Facture</h1>
										<!--end::Title-->
										<!--begin::Breadcrumb-->
										<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
											<!--begin::Item-->
											<li class="breadcrumb-item text-muted">
												<a href="" class="text-muted text-hover-primary">Accueil</a>
											</li>
											<!--end::Item-->
											<!--begin::Item-->
											<li class="breadcrumb-item">
												<span class="bullet bg-gray-500 w-5px h-2px"></span>
											</li>
											<!--end::Item-->
											<!--begin::Item-->
											<li class="breadcrumb-item text-muted">Liste Facture</li>
											<!--end::Item-->
										</ul>
										<!--end::Breadcrumb-->
									</div>

								</div>
							</div>

{% endblock %}


{% block content %}

    <div class="mt-3">
    {% include 'base/includes/list_filter.html' %}
</div>
    {% include 'base/includes/list_table.html' %}







{% endblock content %}
{% block javascript %}

{% endblock %}

