{% extends "base/base.html" %}

{% load static %}
{% block title %}Sécurité et connexion | {% endblock %}

{% block css %} 
{% endblock css %}


{% block toolbar %}

<div id="kt_app_toolbar" class="app-toolbar  pt-6 pb-2 rounded-top">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
            <!--begin::Title-->
            <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Sécurité et connexion</h1>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted text-hover-primary">Accueil</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-500 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="{% url 'base:change_password' %}" class="text-muted text-hover-primary">Sécurité et connexion</a>
                </li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Toolbar container-->
</div>
{% endblock %}


{% block content %}

    <div class="card mt-4  shadow-sm border-2">
        <!--begin::Card header-->
        <div class="card-header border-0" >
            <!--begin::Card title-->
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Changer le mot de passe</h3>
            </div>
            <!--end::Card title-->
        </div>
        <!--begin::Card header-->
        <!--begin::Content-->
        <div id="kt_account_profile_details">
            <!--begin::Form-->
            <form id="kt_signin_change_password" class="form"  autocomplete="off" method="post" novalidate="novalidate" >
                {% csrf_token %}
                <!--begin::Card body-->
                <div class="card-body border-top p-9">
                    {% comment %} Cas des erreurs sur le formulaire {% endcomment %}
                    {% if form.non_field_errors %}
                                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                                    <div class="d-flex align-items-center bg-light-danger rounded p-5 mb-7" role="alert" style="width: 100%;"><b>{{ form.non_field_errors }}</b></div>
                                </div>
                    {% endif %}


                    <!--begin::Password-->
                    <div class="d-flex flex-wrap align-items-center mb-5">
                        <!--begin::Edit-->
                        <div id="kt_signin_password_edit" class="flex-row-fluid">
                                <div class="row mb-1">
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label for="id_old_password" class="form-label fs-6 fw-bolder mb-3">Mot de passe actuel</label>
                                            <input type="password" class="form-control form-control-lg form-control-solid" name="old_password" id="id_old_password" />
                                            <div class="fv-plugins-message-container invalid-feedback">
                                                {{ form.old_password.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label for="id_new_password1" class="form-label fs-6 fw-bolder mb-3">Nouveau mot de passe</label>
                                            <input type="password" class="form-control form-control-lg form-control-solid" name="new_password1" id="id_new_password1" />
                                            <div class="fv-plugins-message-container invalid-feedback">
                                                {{ form.new_password1.errors }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="fv-row mb-0">
                                            <label for="id_new_password2" class="form-label fs-6 fw-bolder mb-3">Confirmer le mot de passe</label>
                                            <input type="password" class="form-control form-control-lg form-control-solid" name="new_password2" id="id_new_password2" />
                                            <div class="fv-plugins-message-container invalid-feedback">
                                                {{ form.new_password2.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-text mb-5">
                                    <ul>
                                        <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                                        <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                                        <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                                        <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                                    </ul>
                                </div>
                        </div>
                        <!--end::Edit-->
                    </div>
                    <!--end::Password-->

                </div>
                <!--end::Card body-->
                <!--begin::Actions-->
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <a href="{% url 'base:Dashboard' %}" class="btn btn-white btn-active-light-primary me-2">Annuler</a>
                    <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Enregistrer les modifications</button>
                </div>
                <!--end::Actions-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Content-->
    </div>

{% endblock content %}



{% block javascript %}
{% comment %} <script>
</script> {% endcomment %}
{% endblock javascript%}